.setting-container{
    transition: 0.5s;
    transform: translateX(-100%);
}
.setting-container.open{
    transform: translateX(0);
}
@media screen and (max-width : 450px) {
    .setting-container{
        width: 100%;
    }
}
.img-profile{
    position: relative;
    z-index: 1;
}
.img-profile::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 150px;
    background-image: linear-gradient(180deg, rgb(0, 255, 55), rgb(255, 48, 255));
    top: -40px;
    left: 32%;
    animation: rotBGimg 3s linear infinite;
}
.img-profile::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    background-color: #4e4e4e;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 1;
}